Repository chrisleekr/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-binance-trading-bot-helm, publish-binance-trading-bot-helm-dev, test-ip-lookup-helm, publish-ip-lookup-helm-dev, test-mcp-server-boilerplate-helm, publish-mcp-server-boilerplate-helm-dev, test-n8n-helm, publish-n8n-helm-dev, test-woodle-map-helm, publish-woodle-map-helm-dev

Path conditions:
  test-binance-trading-bot-helm: any of: charts/binance-trading-bot/**/*
  publish-binance-trading-bot-helm-dev: any of: charts/binance-trading-bot/**/*
  test-ip-lookup-helm: any of: charts/ip-lookup/**/*
  publish-ip-lookup-helm-dev: any of: charts/ip-lookup/**/*
  test-mcp-server-boilerplate-helm: any of: charts/mcp-server-boilerplate/**/*
  publish-mcp-server-boilerplate-helm-dev: any of: charts/mcp-server-boilerplate/**/*
  test-n8n-helm: any of: charts/n8n/**/*
  publish-n8n-helm-dev: any of: charts/n8n/**/*
  test-woodle-map-helm: any of: charts/woodle-map/**/*
  publish-woodle-map-helm-dev: any of: charts/woodle-map/**/*

feat: added n8n helm chart (#8)
  .gitlab-ci.yml
  .gitlab/ci/helm-ip-lookup.yml
  .gitlab/ci/helm-mcp-server-boilerplate.yml
  .gitlab/ci/helm-n8n.yml
  .gitlab/ci/helm-woodle-map.yml
  .vscode/settings.json
  charts/n8n/.helmignore
  charts/n8n/Chart.yaml
  charts/n8n/templates/NOTES.txt
  charts/n8n/templates/_helpers.tpl
  charts/n8n/templates/deployment-postgres.yaml
  charts/n8n/templates/deployment-redis.yaml
  charts/n8n/templates/deployment-webhook.yaml
  charts/n8n/templates/deployment-worker.yaml
  charts/n8n/templates/deployment.yaml
  charts/n8n/templates/hpa.yaml
  charts/n8n/templates/ingress.yaml
  charts/n8n/templates/pod-toolbox.yaml
  charts/n8n/templates/pvc-postgres.yaml
  charts/n8n/templates/pvc-redis.yaml
  charts/n8n/templates/pvc.yaml
  charts/n8n/templates/secret-encryption.yaml
  charts/n8n/templates/secret-postgres-external.yaml
  charts/n8n/templates/secret-postgres-internal.yaml
  charts/n8n/templates/secret-postgres.yaml
  charts/n8n/templates/secret-redis-external.yaml
  charts/n8n/templates/secret-redis.yaml
  charts/n8n/templates/secret.yaml
  charts/n8n/templates/service-postgres.yaml
  charts/n8n/templates/service-redis.yaml
  charts/n8n/templates/service-webhook.yaml
  charts/n8n/templates/service.yaml
  charts/n8n/templates/serviceaccount.yaml
  charts/n8n/values.yaml
Due: test-n8n-helm, publish-n8n-helm-dev

Update index.yaml
  index.yaml
Due: none

fix(charts): improve security posture and CI pipeline quality
  .github/CODEOWNERS
  .github/workflows/release.yml
  .gitlab/ci/helm-binance-trading-bot.yml
  .gitlab/ci/helm-ip-lookup.yml
  .gitlab/ci/helm-mcp-server-boilerplate.yml
  .gitlab/ci/helm-n8n.yml
  .gitlab/ci/helm-woodle-map.yml
  charts/ip-lookup/values.yaml
  charts/mcp-server-boilerplate/templates/secret-storage.yaml
  charts/mcp-server-boilerplate/templates/valkey-deployment.yaml
  charts/mcp-server-boilerplate/values.yaml
  charts/n8n/templates/secret.yaml
  charts/n8n/values.yaml
  charts/woodle-map/values.yaml
  ct.yaml
Due: test-ip-lookup-helm, publish-ip-lookup-helm-dev, test-mcp-server-boilerplate-helm, publish-mcp-server-boilerplate-helm-dev, test-n8n-helm, publish-n8n-helm-dev, test-woodle-map-helm, publish-woodle-map-helm-dev

fix(charts): improve security posture and CI pipeline quality (#9)
  .github/CODEOWNERS
  .github/workflows/release.yml
  .gitlab/ci/helm-binance-trading-bot.yml
  .gitlab/ci/helm-ip-lookup.yml
  .gitlab/ci/helm-mcp-server-boilerplate.yml
  .gitlab/ci/helm-n8n.yml
  .gitlab/ci/helm-woodle-map.yml
  charts/ip-lookup/values.yaml
  charts/mcp-server-boilerplate/templates/secret-storage.yaml
  charts/mcp-server-boilerplate/templates/valkey-deployment.yaml
  charts/mcp-server-boilerplate/values.yaml
  charts/n8n/templates/secret.yaml
  charts/n8n/values.yaml
  charts/woodle-map/values.yaml
  ct.yaml
Due: test-ip-lookup-helm, publish-ip-lookup-helm-dev, test-mcp-server-boilerplate-helm, publish-mcp-server-boilerplate-helm-dev, test-n8n-helm, publish-n8n-helm-dev, test-woodle-map-helm, publish-woodle-map-helm-dev

feat(helm): add github-app-playground chart and n8n secret template
  .gitlab-ci.yml
  .gitlab/ci/helm-github-app-playground.yml
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/_helpers.tpl
  charts/github-app-playground/templates/configmap.yaml
  charts/github-app-playground/templates/deployment.yaml
  charts/github-app-playground/templates/hpa.yaml
  charts/github-app-playground/templates/ingress.yaml
  charts/github-app-playground/templates/pdb.yaml
  charts/github-app-playground/templates/pvc.yaml
  charts/github-app-playground/templates/secret.yaml
  charts/github-app-playground/templates/service.yaml
  charts/github-app-playground/templates/serviceaccount.yaml
  charts/github-app-playground/values.yaml
  charts/n8n/templates/secret.yaml
Due: test-n8n-helm, publish-n8n-helm-dev

feat(helm): add github-app-playground chart and n8n secret template (#10)
  .gitlab-ci.yml
  .gitlab/ci/helm-github-app-playground.yml
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/_helpers.tpl
  charts/github-app-playground/templates/configmap.yaml
  charts/github-app-playground/templates/deployment.yaml
  charts/github-app-playground/templates/hpa.yaml
  charts/github-app-playground/templates/ingress.yaml
  charts/github-app-playground/templates/pdb.yaml
  charts/github-app-playground/templates/pvc.yaml
  charts/github-app-playground/templates/secret.yaml
  charts/github-app-playground/templates/service.yaml
  charts/github-app-playground/templates/serviceaccount.yaml
  charts/github-app-playground/values.yaml
  charts/n8n/templates/secret.yaml
Due: test-n8n-helm, publish-n8n-helm-dev

fix(ci): fix release pipeline failure due to missing chart version bumps
  .github/workflows/lint.yml
  .github/workflows/release.yml
  charts/ip-lookup/Chart.yaml
  charts/mcp-server-boilerplate/Chart.yaml
  charts/n8n/Chart.yaml
  charts/woodle-map/Chart.yaml
  ct.yaml
Due: test-ip-lookup-helm, publish-ip-lookup-helm-dev, test-mcp-server-boilerplate-helm, publish-mcp-server-boilerplate-helm-dev, test-n8n-helm, publish-n8n-helm-dev, test-woodle-map-helm, publish-woodle-map-helm-dev

fix(ci): fix release pipeline failure due to missing chart version bumps (#11)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  charts/ip-lookup/Chart.yaml
  charts/mcp-server-boilerplate/Chart.yaml
  charts/n8n/Chart.yaml
  charts/woodle-map/Chart.yaml
  ct.yaml
Due: test-ip-lookup-helm, publish-ip-lookup-helm-dev, test-mcp-server-boilerplate-helm, publish-mcp-server-boilerplate-helm-dev, test-n8n-helm, publish-n8n-helm-dev, test-woodle-map-helm, publish-woodle-map-helm-dev

feat(github-app-playground): wire Phase 2/3 runtime into Helm chart
  .github/workflows/lint.yml
  .github/workflows/release.yml
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/_helpers.tpl
  charts/github-app-playground/templates/configmap.yaml
  charts/github-app-playground/templates/deployment.yaml
  charts/github-app-playground/templates/postgres-secret.yaml
  charts/github-app-playground/templates/postgres-service.yaml
  charts/github-app-playground/templates/postgres-statefulset.yaml
  charts/github-app-playground/templates/role.yaml
  charts/github-app-playground/templates/rolebinding.yaml
  charts/github-app-playground/templates/secret.yaml
  charts/github-app-playground/templates/shared-runner-deployment.yaml
  charts/github-app-playground/templates/shared-runner-service.yaml
  charts/github-app-playground/templates/valkey-deployment.yaml
  charts/github-app-playground/templates/valkey-pvc.yaml
  charts/github-app-playground/templates/valkey-secret.yaml
  charts/github-app-playground/templates/valkey-service.yaml
  charts/github-app-playground/values.yaml
Due: none

refactor(github-app-playground): reorder config block to match src/config.ts grouping
  charts/github-app-playground/templates/configmap.yaml
  charts/github-app-playground/templates/secret.yaml
  charts/github-app-playground/values.yaml
Due: none

chore(ci): disable ct validate-maintainers to unblock linting
  ct.yaml
Due: none

fix(github-app-playground): address Copilot review feedback
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/_helpers.tpl
  charts/github-app-playground/values.yaml
Due: none

feat(github-app-playground): wire Phase 2/3 runtime into Helm chart (#12)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/_helpers.tpl
  charts/github-app-playground/templates/configmap.yaml
  charts/github-app-playground/templates/deployment.yaml
  charts/github-app-playground/templates/postgres-secret.yaml
  charts/github-app-playground/templates/postgres-service.yaml
  charts/github-app-playground/templates/postgres-statefulset.yaml
  charts/github-app-playground/templates/role.yaml
  charts/github-app-playground/templates/rolebinding.yaml
  charts/github-app-playground/templates/secret.yaml
  charts/github-app-playground/templates/shared-runner-deployment.yaml
  charts/github-app-playground/templates/shared-runner-service.yaml
  charts/github-app-playground/templates/valkey-deployment.yaml
  charts/github-app-playground/templates/valkey-pvc.yaml
  charts/github-app-playground/templates/valkey-secret.yaml
  charts/github-app-playground/templates/valkey-service.yaml
  charts/github-app-playground/values.yaml
  ct.yaml
Due: none

fix(ci): scope release gate to charts changed since their tag
  .github/workflows/release.yml
Due: none

fix(ci): scope release gate to charts changed since their tag (#13)
  .github/workflows/release.yml
Due: none

feat(github-app-playground)!: split secrets: block from config: (breaking)
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/_helpers.tpl
  charts/github-app-playground/templates/secret.yaml
  charts/github-app-playground/values.yaml
Due: none

chore(github-app-playground): replace internal CLI reference in awsProfile comment
  charts/github-app-playground/values.yaml
Due: none

feat(github-app-playground)!: split secrets: block from config: (breaking) (#14)
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/_helpers.tpl
  charts/github-app-playground/templates/secret.yaml
  charts/github-app-playground/values.yaml
Due: none

feat(github-app-playground): add named daemon pool support with DinD sidecar (v0.4.0)
  .github/workflows/lint.yml
  .vscode/settings.json
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/ci/daemon-pools-values.yaml
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/_helpers.tpl
  charts/github-app-playground/templates/daemon-deployment.yaml
  charts/github-app-playground/templates/daemon-hpa.yaml
  charts/github-app-playground/templates/daemon-pdb.yaml
  charts/github-app-playground/templates/deployment.yaml
  charts/github-app-playground/templates/service.yaml
  charts/github-app-playground/values.yaml
Due: none

fix(github-app-playground): fix daemon pool review findings (PR #15)
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/configmap.yaml
  charts/github-app-playground/templates/daemon-deployment.yaml
  charts/github-app-playground/templates/deployment.yaml
  charts/github-app-playground/templates/service.yaml
  charts/github-app-playground/values.yaml
Due: none

fix(github-app-playground): address CodeRabbit review comments on daemon pools
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/_helpers.tpl
  charts/github-app-playground/templates/configmap.yaml
  charts/github-app-playground/templates/daemon-deployment.yaml
  charts/github-app-playground/templates/daemon-pdb.yaml
  charts/github-app-playground/templates/service.yaml
  charts/github-app-playground/values.yaml
Due: none

feat(github-app-playground): add named daemon pool support with DinD sidecar (v0.4.0) (#15)
  .github/workflows/lint.yml
  .vscode/settings.json
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/ci/daemon-pools-values.yaml
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/_helpers.tpl
  charts/github-app-playground/templates/configmap.yaml
  charts/github-app-playground/templates/daemon-deployment.yaml
  charts/github-app-playground/templates/daemon-hpa.yaml
  charts/github-app-playground/templates/daemon-pdb.yaml
  charts/github-app-playground/templates/deployment.yaml
  charts/github-app-playground/templates/service.yaml
  charts/github-app-playground/values.yaml
Due: none

fix(github-app-playground): project ALLOWED_OWNERS into daemon env (v0.4.1)
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/daemon-deployment.yaml
Due: none

chore(github-app-playground): bump appVersion to 1.1.1 (chart v0.4.2)
  charts/github-app-playground/Chart.yaml
Due: none

fix(github-app-playground): project ALLOWED_OWNERS into daemon env + bump appVersion to 1.1.1 (v0.4.2) (#16)
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/daemon-deployment.yaml
Due: none

fix(github-app-playground): daemon docker.sock permission (v0.4.3)
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/daemon-deployment.yaml
  charts/github-app-playground/values.yaml
Due: none

fix(github-app-playground): coerce supplementalGroups to int and document gid/tag coupling
  charts/github-app-playground/templates/daemon-deployment.yaml
  charts/github-app-playground/values.yaml
Due: none

fix(github-app-playground): grant daemon supplementalGroups for docker.sock when dind.rootless=false (v0.4.3) (#17)
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/daemon-deployment.yaml
  charts/github-app-playground/values.yaml
Due: none

feat(github-app-playground)!: split orchestrator/daemon images and drop shared-runner stub (v0.5.0)
  .github/workflows/lint.yml
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/_helpers.tpl
  charts/github-app-playground/templates/configmap.yaml
  charts/github-app-playground/templates/daemon-deployment.yaml
  charts/github-app-playground/templates/deployment.yaml
  charts/github-app-playground/templates/shared-runner-deployment.yaml
  charts/github-app-playground/templates/shared-runner-service.yaml
  charts/github-app-playground/values.yaml
Due: none

fix(github-app-playground): address CodeRabbit review on NOTES upgrade wording and Phase 4 lint scenario
  .github/workflows/lint.yml
  charts/github-app-playground/templates/NOTES.txt
Due: none

feat(github-app-playground)!: split orchestrator/daemon images and drop shared-runner stub (v0.5.0) (#18)
  .github/workflows/lint.yml
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/_helpers.tpl
  charts/github-app-playground/templates/configmap.yaml
  charts/github-app-playground/templates/daemon-deployment.yaml
  charts/github-app-playground/templates/deployment.yaml
  charts/github-app-playground/templates/shared-runner-deployment.yaml
  charts/github-app-playground/templates/shared-runner-service.yaml
  charts/github-app-playground/values.yaml
Due: none

feat(github-app-playground)!: collapse dispatch to daemon-only (v0.6.0)
  .github/workflows/lint.yml
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/ci/daemon-pools-values.yaml
  charts/github-app-playground/templates/NOTES.txt
  charts/github-app-playground/templates/configmap.yaml
  charts/github-app-playground/templates/daemon-deployment.yaml
  charts/github-app-playground/templates/role.yaml
  charts/github-app-playground/templates/secret.yaml
  charts/github-app-playground/templates/service.yaml
  charts/github-app-playground/values.yaml
Due: none

fix(github-app-playground): pin appVersion to 1.2.1 (published tag)
  charts/github-app-playground/Chart.yaml
  charts/github-app-playground/templates/NOTES.txt
Due: none
