Repository chrisleekr/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-binance-trading-bot-helm, publish-binance-trading-bot-helm-dev, test-ip-lookup-helm, publish-ip-lookup-helm-dev, test-mcp-server-boilerplate-helm, publish-mcp-server-boilerplate-helm-dev, test-n8n-helm, publish-n8n-helm-dev, test-woodle-map-helm, publish-woodle-map-helm-dev

test-binance-trading-bot-helm:
  stage: testing
  image: alpine/helm:3
  interruptible: true
  script:
  - helm template ./charts/binance-trading-bot > ./template-binance-trading-bot.yaml
  - helm lint ./charts/binance-trading-bot
  artifacts:
    paths:
    - ./template-binance-trading-bot.yaml

publish-binance-trading-bot-helm-dev:
  stage: build development
  image: alpine/helm:3
  interruptible: true
  before_script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm repo add --username "gitlab-ci-token" --password "${CI_JOB_TOKEN}" gitlab "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/stable"
  ...

test-ip-lookup-helm:
  stage: testing
  image: alpine/helm:3
  interruptible: true
  script:
  - helm template ./charts/ip-lookup > ./template-ip-lookup.yaml
  - helm lint ./charts/ip-lookup
  artifacts:
    paths:
    - ./template-ip-lookup.yaml

publish-ip-lookup-helm-dev:
  stage: build development
  image: alpine/helm:3
  interruptible: true
  before_script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm repo add --username "gitlab-ci-token" --password "${CI_JOB_TOKEN}" gitlab "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/stable"
  ...

test-mcp-server-boilerplate-helm:
  stage: testing
  image: alpine/helm:3
  interruptible: true
  script:
  - helm template ./charts/mcp-server-boilerplate > ./template-mcp-server-boilerplate.yaml
  - helm lint ./charts/mcp-server-boilerplate
  artifacts:
    paths:
    - ./template-mcp-server-boilerplate.yaml

publish-mcp-server-boilerplate-helm-dev:
  stage: build development
  image: alpine/helm:3
  interruptible: true
  before_script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm repo add --username "gitlab-ci-token" --password "${CI_JOB_TOKEN}" gitlab "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/stable"
  ...

test-n8n-helm:
  stage: testing
  image: alpine/helm:3
  interruptible: true
  script:
  - helm template ./charts/n8n > ./template-n8n.yaml
  - helm lint ./charts/n8n
  artifacts:
    paths:
    - ./template-n8n.yaml

publish-n8n-helm-dev:
  stage: build development
  image: alpine/helm:3
  interruptible: true
  before_script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm repo add --username "gitlab-ci-token" --password "${CI_JOB_TOKEN}" gitlab "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/stable"
  ...

test-woodle-map-helm:
  stage: testing
  image: alpine/helm:3
  interruptible: true
  script:
  - helm template ./charts/woodle-map > ./template-woodle-map.yaml
  - helm lint ./charts/woodle-map
  artifacts:
    paths:
    - ./template-woodle-map.yaml

fix(sre-platform): address second review round on the new chart
  .gitlab/ci/publish-devel.yml
  charts/sre-platform/templates/_helpers.tpl
  charts/sre-platform/templates/api-deployment.yaml
  charts/sre-platform/templates/dashboard-deployment.yaml
  charts/sre-platform/templates/worker-deployments.yaml
  scripts/check-sre-platform-env-parity.sh
  scripts/check-sre-platform-env-parity.test.sh
  scripts/check-sre-platform-render.sh
Due: none

fix(sre-platform): reject IP-literal ingress hosts and harden the sync job
  .github/workflows/sre-platform-sync.yml
  charts/sre-platform/Chart.yaml
  charts/sre-platform/templates/_helpers.tpl
  scripts/check-sre-platform-env-parity.sh
  scripts/check-sre-platform-render.sh
Due: none

feat(sre-platform): add chart for the incident investigation workspace (#72)
  .github/workflows/lint-sre-platform.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/sre-platform-sync.yml
  .gitlab-ci.yml
  .gitlab/ci/lint-sre-platform.yml
  .gitlab/ci/publish-devel.yml
  README.md
  charts/sre-platform/.env-contract-ignore
  charts/sre-platform/Chart.yaml
  charts/sre-platform/README.md
  charts/sre-platform/ci/ct-values.yaml
  charts/sre-platform/ci/ingress-values.yaml
  charts/sre-platform/templates/NOTES.txt
  charts/sre-platform/templates/_helpers.tpl
  charts/sre-platform/templates/api-deployment.yaml
  charts/sre-platform/templates/bootstrap-job.yaml
  charts/sre-platform/templates/ciliumnetworkpolicy.yaml
  charts/sre-platform/templates/configmap.yaml
  charts/sre-platform/templates/dashboard-deployment.yaml
  charts/sre-platform/templates/ingresses.yaml
  charts/sre-platform/templates/migrate-job.yaml
  charts/sre-platform/templates/networkpolicy.yaml
  charts/sre-platform/templates/serviceaccount.yaml
  charts/sre-platform/templates/services.yaml
  charts/sre-platform/templates/worker-deployments.yaml
  charts/sre-platform/values.yaml
  scripts/check-sre-platform-env-parity.sh
  scripts/check-sre-platform-env-parity.test.sh
  scripts/check-sre-platform-render.sh
Due: none

chore(github-app): sync chart to v1.17.2
  charts/github-app/Chart.yaml
Due: none

chore(github-app): sync chart to v1.17.2 (#74)
  charts/github-app/Chart.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

chore(binance-trading-bot): sync chart to v1.5.0
  charts/binance-trading-bot/Chart.yaml
Due: test-binance-trading-bot-helm, publish-binance-trading-bot-helm-dev

chore(binance-trading-bot): sync chart to v1.5.0 (#75)
  charts/binance-trading-bot/Chart.yaml
Due: test-binance-trading-bot-helm, publish-binance-trading-bot-helm-dev

chore(github-app): sync chart to v1.18.0
  charts/github-app/Chart.yaml
Due: none

fix(github-app): pin the six runner quantities through the v1.18.0 boundary
  charts/github-app/Chart.yaml
  charts/github-app/templates/configmap.yaml
  charts/github-app/templates/workflow-runner-admission.yaml
  charts/github-app/templates/workflow-runner-boundary.yaml
  charts/github-app/values.yaml
  scripts/check-github-app-render.sh
Due: none

chore(github-app): sync chart to v1.18.0 (#76)
  charts/github-app/Chart.yaml
  charts/github-app/templates/configmap.yaml
  charts/github-app/templates/workflow-runner-admission.yaml
  charts/github-app/templates/workflow-runner-boundary.yaml
  charts/github-app/values.yaml
  scripts/check-github-app-render.sh
Due: none

fix(github-app): grant pods/log for runner post-mortem capture
  charts/github-app/Chart.yaml
  charts/github-app/templates/workflow-runner-rbac.yaml
Due: none

feat(sre-platform): retire global Auth0 values for confidential staff bootstrap
  charts/sre-platform/.env-contract-ignore
  charts/sre-platform/Chart.yaml
  charts/sre-platform/README.md
  charts/sre-platform/ci/ct-values.yaml
  charts/sre-platform/ci/ingress-values.yaml
  charts/sre-platform/templates/_helpers.tpl
  charts/sre-platform/templates/bootstrap-job.yaml
  charts/sre-platform/templates/configmap.yaml
  charts/sre-platform/values.yaml
  scripts/check-sre-platform-env-parity.sh
  scripts/check-sre-platform-render.sh
Due: none

ci: publish SRE Platform development charts through GitLab CI
  .gitlab/ci/publish-devel.yml
  scripts/check-devel-publish.sh
Due: none

test(github-app): pin the pods/log grant and name it in the RBAC guards
  charts/github-app/templates/workflow-runner-rbac.yaml
  scripts/check-github-app-render.sh
Due: none

fix(ci): publish SRE Platform to devel without rewriting its appVersion
  .gitlab/ci/publish-devel.yml
  scripts/check-devel-publish.sh
Due: none

chore: consolidate pending chart and CI changes (#77)
  .gitlab/ci/publish-devel.yml
  charts/github-app/Chart.yaml
  charts/github-app/templates/workflow-runner-rbac.yaml
  charts/sre-platform/.env-contract-ignore
  charts/sre-platform/Chart.yaml
  charts/sre-platform/README.md
  charts/sre-platform/ci/ct-values.yaml
  charts/sre-platform/ci/ingress-values.yaml
  charts/sre-platform/templates/_helpers.tpl
  charts/sre-platform/templates/bootstrap-job.yaml
  charts/sre-platform/templates/configmap.yaml
  charts/sre-platform/values.yaml
  scripts/check-devel-publish.sh
  scripts/check-github-app-render.sh
  scripts/check-sre-platform-env-parity.sh
  scripts/check-sre-platform-render.sh
Due: none

chore(binance-trading-bot): bump timescaledb to 2.30.0 and otel collector to 0.161.0
  charts/binance-trading-bot/Chart.yaml
  charts/binance-trading-bot/templates/otel-collector-configmap.yaml
  charts/binance-trading-bot/values.yaml
Due: test-binance-trading-bot-helm, publish-binance-trading-bot-helm-dev

fix: address review - webOrigin host guard, breaking-change changelogs, tpl wording
  charts/binance-trading-bot/templates/NOTES.txt
  charts/binance-trading-bot/templates/httproute.yaml
  charts/binance-trading-bot/values.yaml
  charts/github-app/templates/NOTES.txt
  charts/github-app/templates/extra-objects.yaml
  charts/github-app/values.yaml
  charts/ip-lookup/Chart.yaml
  charts/ip-lookup/templates/NOTES.txt
  charts/ip-lookup/templates/extra-objects.yaml
  charts/ip-lookup/values.yaml
  charts/mcp-server-playground/Chart.yaml
  charts/mcp-server-playground/templates/NOTES.txt
  charts/mcp-server-playground/templates/extra-objects.yaml
  charts/mcp-server-playground/values.yaml
  charts/n8n/Chart.yaml
  charts/n8n/templates/NOTES.txt
  charts/n8n/templates/extra-objects.yaml
  charts/n8n/values.yaml
  charts/omniroute/Chart.yaml
  charts/omniroute/templates/extra-objects.yaml
  charts/omniroute/values.yaml
  charts/sre-platform/templates/_helpers.tpl
  charts/sre-platform/templates/extra-objects.yaml
  charts/sre-platform/values.yaml
  charts/woodle-map/Chart.yaml
  charts/woodle-map/templates/NOTES.txt
  charts/woodle-map/templates/extra-objects.yaml
  charts/woodle-map/values.yaml
  scripts/check-binance-trading-bot-render.sh
  scripts/check-sre-platform-render.sh
Due: test-binance-trading-bot-helm, publish-binance-trading-bot-helm-dev, test-ip-lookup-helm, publish-ip-lookup-helm-dev, test-n8n-helm, publish-n8n-helm-dev, test-woodle-map-helm, publish-woodle-map-helm-dev

fix: address review - route.hostnames changelog wording, binance README version note
  charts/binance-trading-bot/README.md
  charts/ip-lookup/Chart.yaml
  charts/mcp-server-playground/Chart.yaml
  charts/n8n/Chart.yaml
  charts/omniroute/Chart.yaml
  charts/woodle-map/Chart.yaml
Due: test-binance-trading-bot-helm, publish-binance-trading-bot-helm-dev, test-ip-lookup-helm, publish-ip-lookup-helm-dev, test-n8n-helm, publish-n8n-helm-dev, test-woodle-map-helm, publish-woodle-map-helm-dev

feat: podAnnotations on pods
  charts/binance-trading-bot/Chart.yaml
  charts/binance-trading-bot/templates/migrate-job.yaml
  charts/binance-trading-bot/templates/postgres.yaml
  charts/binance-trading-bot/templates/valkey.yaml
  charts/binance-trading-bot/values.yaml
  charts/github-app/Chart.yaml
  charts/github-app/templates/postgres-statefulset.yaml
  charts/github-app/templates/valkey-deployment.yaml
  charts/github-app/templates/workflow-runner-image-warmer.yaml
  charts/github-app/values.yaml
  charts/mcp-server-playground/Chart.yaml
  charts/mcp-server-playground/templates/valkey-deployment.yaml
  charts/mcp-server-playground/values.yaml
  charts/sre-platform/Chart.yaml
  charts/sre-platform/templates/bootstrap-job.yaml
  charts/sre-platform/templates/migrate-job.yaml
  charts/sre-platform/values.yaml
Due: test-binance-trading-bot-helm, publish-binance-trading-bot-helm-dev

feat: podAnnotations on pods (#81)
  charts/binance-trading-bot/Chart.yaml
  charts/binance-trading-bot/templates/migrate-job.yaml
  charts/binance-trading-bot/templates/postgres.yaml
  charts/binance-trading-bot/templates/valkey.yaml
  charts/binance-trading-bot/values.yaml
  charts/github-app/Chart.yaml
  charts/github-app/templates/postgres-statefulset.yaml
  charts/github-app/templates/valkey-deployment.yaml
  charts/github-app/templates/workflow-runner-image-warmer.yaml
  charts/github-app/values.yaml
  charts/mcp-server-playground/Chart.yaml
  charts/mcp-server-playground/templates/valkey-deployment.yaml
  charts/mcp-server-playground/values.yaml
  charts/sre-platform/Chart.yaml
  charts/sre-platform/templates/bootstrap-job.yaml
  charts/sre-platform/templates/migrate-job.yaml
  charts/sre-platform/values.yaml
Due: test-binance-trading-bot-helm, publish-binance-trading-bot-helm-dev

chore(binance-trading-bot): sync chart to v1.6.0
  charts/binance-trading-bot/Chart.yaml
Due: test-binance-trading-bot-helm, publish-binance-trading-bot-helm-dev

chore(binance-trading-bot): sync chart to v1.6.0 (#82)
  charts/binance-trading-bot/Chart.yaml
Due: test-binance-trading-bot-helm, publish-binance-trading-bot-helm-dev

Path conditions:
  test-binance-trading-bot-helm: any of: charts/binance-trading-bot/**/*
  publish-binance-trading-bot-helm-dev: any of: charts/binance-trading-bot/**/*
  test-ip-lookup-helm: any of: charts/ip-lookup/**/*
  publish-ip-lookup-helm-dev: any of: charts/ip-lookup/**/*
  test-mcp-server-boilerplate-helm: any of: charts/mcp-server-boilerplate/**/*
  publish-mcp-server-boilerplate-helm-dev: any of: charts/mcp-server-boilerplate/**/*
  test-n8n-helm: any of: charts/n8n/**/*
  publish-n8n-helm-dev: any of: charts/n8n/**/*
  test-woodle-map-helm: any of: charts/woodle-map/**/*
  publish-woodle-map-helm-dev: any of: charts/woodle-map/**/*
